<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="userDAO" class="com.cpi.is.dao.impl.UserDAOImpl"></bean>
  <bean id="userService" class="com.cpi.is.service.impl.UserServiceImpl" depends-on="userDAO">
  	<property name="userDAO" ref="userDAO" />
  </bean>
  
  <bean id="inventoryDAO" class="com.cpi.is.dao.impl.InventoryDAOImpl"></bean>
  <bean id="branchDAO" class="com.cpi.is.dao.impl.BranchDAOImpl"></bean>
  <bean id="rawMaterialListDAO" class="com.cpi.is.dao.impl.RawMaterialListDAOImpl"></bean>
  
  <bean id="inventoryService" class="com.cpi.is.service.impl.InventoryServiceImpl" depends-on="inventoryDAO">
  	<property name="inventoryDAO" ref="inventoryDAO" />
  </bean>
  <bean id="branchService" class="com.cpi.is.service.impl.BranchServiceImpl" depends-on="branchDAO">
  	<property name="branchDAO" ref="branchDAO" />
  </bean>
  <bean id="rawMaterialListService" class="com.cpi.is.service.impl.RawMaterialListServiceImpl" depends-on="rawMaterialListDAO">
  	<property name="rawMaterialListDAO" ref="rawMaterialListDAO" />
  </bean>
</beans>