<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
  
  <bean id="userDAO" class="com.cpi.is.dao.impl.UserDAOImpl"></bean>
  <bean id="userService" class="com.cpi.is.service.impl.UserServiceImpl" depends-on="userDAO">
  	<property name="userDAO" ref="userDAO" />
  	<property name="passwordEncoder" ref="passwordEncoder" />
  </bean>
  
  <bean id="rawMaterialListDAO" class="com.cpi.is.dao.impl.RawMaterialListDAOImpl"></bean>
  <bean id="rawMaterialListService" class="com.cpi.is.service.impl.RawMaterialListServiceImpl" depends-on="rawMaterialListDAO, rawMaterialDAO, branchDAO, userDAO">
  	<property name="rawMaterialListDAO" ref="rawMaterialListDAO" />
  </bean>
  
  <bean id="dppDAO" class="com.cpi.is.dao.impl.DppDAOImpl"></bean>
  <bean id="dppService" class="com.cpi.is.service.impl.DppServiceImpl" depends-on="dppDAO">
  	<property name="dppDAO" ref="dppDAO" />
  </bean>
  
  <bean id="productionMaterialDAO" class="com.cpi.is.dao.impl.ProductionMaterialDAOImpl"></bean>
  <bean id="productionMaterialService" class="com.cpi.is.service.impl.ProductionMaterialServiceImpl" depends-on="productionMaterialDAO">
  	<property name="productionMaterialDAO" ref="productionMaterialDAO" />
  </bean>
  
  <bean id="dispatchTypeDAO" class="com.cpi.is.dao.impl.DispatchTypeDAOImpl"></bean>
  <bean id="dispatchTypeService" class="com.cpi.is.service.impl.DispatchTypeServiceImpl" depends-on="dispatchTypeDAO">
  	<property name="dispatchTypeDAO" ref="dispatchTypeDAO" />
  </bean>
  
  <bean id="branchDAO" class="com.cpi.is.dao.impl.BranchDAOImpl"></bean>
  <bean id="branchService" class="com.cpi.is.service.impl.BranchServiceImpl" depends-on="branchDAO">
  	<property name="branchDAO" ref="branchDAO" />
  </bean>
  
  <bean id="skuDAO" class="com.cpi.is.dao.impl.SkuDAOImpl"></bean>
  <bean id="skuService" class="com.cpi.is.service.impl.SkuServiceImpl" depends-on="skuDAO">
  	<property name="skuDAO" ref="skuDAO" />
  </bean>
  
  <bean id="rawMaterialDAO" class="com.cpi.is.dao.impl.RawMaterialDAOImpl"></bean>
  <bean id="rawMaterialService" class="com.cpi.is.service.impl.RawMaterialServiceImpl" depends-on="rawMaterialDAO">
  	<property name="rawMaterialDAO" ref="rawMaterialDAO" />
  </bean>
  
  <bean id="dispatchingDAO" class="com.cpi.is.dao.impl.DispatchingDAOImpl"></bean>
  <bean id="dispatchingService" class="com.cpi.is.service.impl.DispatchingServiceImpl" depends-on="dispatchingDAO">
  	<property name="dispatchingDAO" ref="dispatchingDAO" />
  </bean>
  
  <bean id="finishedProductListDAO" class="com.cpi.is.dao.impl.FinishedProductListDAOImpl"></bean>
  <bean id="finishedProductListService" class="com.cpi.is.service.impl.FinishedProductListServiceImpl" depends-on="dispatchingDAO">
  	<property name="finishedProductListDAO" ref="finishedProductListDAO" />
  </bean>
</beans>