<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  	<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@training-db.cosujmachgm3.ap-southeast-1.rds.amazonaws.com:1521:ORLC</property>
    <property name="hibernate.connection.username">NADI</property>
    <property name="hibernate.connection.password">SAe879fd</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.hbm2ddl.auto">none</property>
    
    <mapping class="com.cpi.is.entity.UserEntity" />
    <mapping class="com.cpi.is.entity.InventoryEntity" />
  </session-factory>
</hibernate-configuration>