@charset "ISO-8859-1";

body {
  font-family: "Lucida Console";
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

.button {
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

.red {
  background-color: #f44336;
}

.green {
  background-color: #04AA6D;
}

.blue {
  background-color: #008CBA;
}

.white {
  background-color: white;
  color: black;
}

select.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

select.input:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.input {
	width: 100%;
	padding: 8px;
	margin: 4px 0;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 16px;
	color: #333;
}

.left {
  float: left;
}

.right {
  float: right;
}

.menu li {
  list-style-type: none;
  display: inline;
}

.inventory {
  border-collapse: collapse;
  width: 80%;
}

.inventory th, .inventory td {
  border: 1px solid #ddd;
  padding: 8px;
}

.inventory .center-aligned {
  text-align: center;
}

.inventory tr:nth-child(even){
  background-color: #f2f2f2;
}

.inventory tr:hover {
  background-color: #ddd;
}

.inventory th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}

.dispatch {
  border-collapse: collapse;
  width: 80%;
}

.dispatch th, .inventory td {
  border: 1px solid #ddd;
  padding: 8px;
}

.dispatch .center-aligned {
  text-align: center;
}

.dispatch tr:nth-child(even){
  background-color: #f2f2f2;
}

.dispatch tr:hover {
  background-color: #ddd;
}

.dispatch th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}