@charset "ISO-8859-1";

body {
	font-family: Verdana;
  	background-color: #FFF8E8;
}

.divContent .loginContainer {
	background-color: #674636;
}

.divContent .loginContainer blockquote {
	color: #fff;
}

.divContent .loginContainer .remember {
	color: #fff;
}

.divContent .mainWrapper {
	background-color: rgba(103, 70, 54,.5);
	border-radius: .375rem;
	color: #fff;
}

.divContent .contentNavbar {
	background-color: #674636;
	height:90px;
	background-image: url(https://static.wikia.nocookie.net/kaoruhana/images/e/ef/FRbJYBgagAENPM.png);
	background-repeat:no-repeat;
	background-position: 80%;
	border-radius: .375rem;
}

.divContent .modalHeader {
	background-color: #674636;
}

.divContent .modalBody {
	background-color: rgba(103, 70, 54,.5);
	color: #000;
}

.divContent .modalFooter {
	background-color: rgba(103, 70, 54,.5);
}

#divMenu .divMenu {
	background-color: #AAB396;
	background-image:url(../images/menu.png);
	background-repeat:no-repeat;
	background-position:80%;
}

#divMenu .divMenu .menuIcon {
	height: 40px;
  	width: fit-content;
}

#divMenu .divMenu ul {
	font-size: 18px;
}

