.tabulator {
	border-radius: .375rem;
}

.tabulator-header {
	background-color: #AAB396 !important;
	color: #fff !important;
}

.tabulator-col {
	background-color: #AAB396 !important;
	color: #fff !important;
}

/* Cells */
.tabulator-cell{
    border-color: #374151 !important;
 }

/* Rows */
.tabulator-row{
	border-color: #374151 !important; 
	border-right: 0px solid !important;
}
    
.tabulator-row:nth-child(odd) {
   	background-color: #fff !important; 
}

.tabulator-row:nth-child(even) {
    background-color: #d9d9d9 !important; 
}

.tabulator-row:hover {
    background-color: #969593 !important;
}

    /* Cells */
.tabulator-cell {
    border-color: #4b5563 !important; 
    color: #000 !important; 
    }

.tabulator-footer {
	background-color: #AAB396 !important;
	color: #fff !important;
}
    
.tabulator-page{
   color: #fff !important;
}
    
.tabulator-pages button.active{
	border-color: #FFFFFF !important;
	background-color: #374151 !important;
	color: #FFFFFF !important;
}
	    
.tabulator label{
	color: #d1d5db !important; 
}
	
.tabulator select{
	background-color: #374151; 
	border-color: #4B5563; 
	color: #FFFFFF; 
}
	
.tabulator select:placeholder {
    color: #9CA3AF; 
}

.tabulator select:focus {
	outline:2px solid transparent;
	outline-offset: 2px;
	border-color: #AAB396;
}